* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
}



header {
    background-color: #1F2937;
    height: 25%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-decoration: none;
}

a:visited {
    color: #F9FAF8 
}

.header-top {
    display: flex;
    justify-content: space-around;
    color: #F9FAF8
}

.top-main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 25%;
}

.top-main-right {
    background-color: grey;
    height: 50%;
    width: 20%;
}

.placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
